# This will run on Travis' 'new' container-based infrastructure
sudo: false
language: cpp
# Blacklist
branches:
  except:
    - gh-pages

# Environment variables
env:
  global:
    - GH_REPO_NAME: github-pages-test
    - DOXYFILE: $TRAVIS_BUILD_DIR/
    - GH_REPO_REF: github.com/christ2go/github-pages-test.git

# Install dependencies
addons:
  apt:
    packages:
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz
      - g++

# Build your code e.g. by calling make
script: make

# Generate and deploy documentation
after_success:
  - cd $TRAVIS_BUILD_DIR
  - chmod +x generateDocumentationAndDeploy.sh
  - ./generateDocumentationAndDeploy.sh
